.btn
{
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.2);
  transition: background 200ms ease-out;

  &.btn-purple
  {
    background: $color-purple;
    color: #fff;

    &:hover
    {
      background: $color-purple-light;
    }

    &.btn-border
    {
      background: none;
      border: 1px solid $color-purple-lighter;
      color: #393a73;
      transition: border 200ms ease-out;
      box-shadow: none;

      &:hover
      {
        border-color: $color-purple;
      }
    }
  }

  &.btn-sm
  {
    font-size: 13px;
    padding: .5em 1em;
  }
}

