/** Desks stylesheet **/
.desks-holder
{
  height: 100%;
  overflow: auto;
  background-color: #f1f1f1;

  .desks
  {
    text-align: left;

    .desk
    {
      margin: 15px 0px;
      display: inline-block;
      float: none;
      vertical-align: top;
      background: #f1f1f1;

      & > div
      {
        background-color: white;
        border: 1px solid transparent;

        &:hover
        {
          border-color: $color-purple;
        }

        .image-holder
        {
          position: relative;

          .rating
          {
            position: absolute;
            top: 0px;
            left: 0px;
            color: white;
            background: rgba(0, 0, 0, 0.35);
            padding: 5px 10px;
          }
        }

        .info
        {
          padding: 10px;

          h2
          {
            margin: 5px 0px;
            font-size: 21px;
          }

          small
          {
            display: inline-block;
            padding-right: 3px;
          }

          .info-right
          {
            float: right;

            .hour-price
            {
              font-size: 16px;
              span
              {
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}