/** Header stylesheet **/
header
{
  height: $header-height;
  line-height: $header-height;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;
  background-color: #ffffff;
  padding: 0px 15px;

  img
  {
    height: 35px;
  }

  .btn
  {
    text-transform: uppercase;
  }
}