@import 'variables';
@import 'header';
@import 'map';
@import 'desks';
@import 'buttons';

body, html {
  height: 100%;
}

main
{
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 50px 0px 0px 0px;
}